
body{
	cursor: default;
	background: #080808 url('../img/dark_wall.png');
	text-align: center;
}

.hideDiv{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #080808;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
}

.quote{
	position: fixed;
	top: 35%;
	left: 38%;

	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
}

.smaller{
	font-size: 30px;
}